html {
    height: 100%;
    /* overflow: hidden; */
}

body {
    height: 100%;
}

.ct-label {
    font-family: Calibri;
}

.ct-chart {
    height: 80%;
    width: 90%;
}

.ct-series-a .ct-line {
    /* Set the colour of this series line */
    /* stroke: orange; */
    /* Control the thikness of your lines */
    stroke-width: 2px;
}
